@import '../../../node_modules/kouto-swiss/index'
@import '_config'

normalize()
box-sizing-reset()

body
  font-family $fontFamily
  font-size $fontSize_default
  background-color $color_bg_default
  color $color_text_default

a
  color $color_text_link

  &:hover
    opacity 0.7