@import 'kouto-swiss'
@import '_config'

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700')

normalize()
box-sizing-reset()

body
  padding 0 !important
  font-family Montserrat, 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, NotoSansJapanese, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif
  font-size $fontSize_default
  line-height $lineHeight_default
  letter-spacing $letterSpacing_default
  background-color $bgColor_default
  font-kerning normal
  color $textColor_default
  text-align justify
  word-wrap break-word
  overflow-wrap break-word

  +retina-query(only screen, 2)
    -webkit-font-smoothing antialiased

  // +media-query($mq_tablet)
  //   overflow-x hidden


a
  color $textColor_link
  transition: all 300ms ease
  text-decoration none

  &:hover
    text-decoration underline