@import '../../../node_modules/kouto-swiss/index'

// font-face
font-face('Gotham', '../fonts/Gotham-Medium', normal, normal, formats:woff)

// font family
$fontFamily = Gotham, "Helvetica Neue", Helvetica, Arial, "小塚ゴシック Pr6N", "Kozuka Gothic Pr6N", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif

// color
$color_white = #fff
$color_lightGray1 = #f2f2f2
$color_lightGray2 = #d9d9d9
$color_lightGray3 = #ebebeb
$color_gray = #bfbfbf
$color_black = #333
$color_pink = #ffc1da

$color_text_default = $color_black
$color_text_link = $color_pink
$color_text_sub = $color_gray
$color_bg_default = $color_lightGray1
$color_bg_inverse = $color_white
$color_bg_link = $color_pink
$color_border_default = $color_lightGray2
$color_border_light = $color_lightGray3

// font size
$fontSize_default = rem(13px)
$fontSize_small = rem(11px)
$fontSize_xsmall = rem(10px)
$fontSize_large = rem(16px)

// line height
$lineHeight_default = 1.65