// color
$color_white = #fff
$color_black = #000
$color_blue = #0041f3
$color_yellow = #fff600
$color_gray = #e3e5ec


// bg color
$bgColor_default = $color_black
$bgColor_single = $color_white

// text color
$textColor_default = $color_white
$textColor_inverse = $color_black
$textColor_link = $color_blue


// border color
$borderColor_default = $color_black
$borderColor_credit = $color_gray


// font size
$fontSize_default = rem(14px)
$fontSize_infoTitle = rem(11px)
$fontSize_title = rem(20px)
$fontSize_creditRole = rem(11px)
$fontSize_footer = rem(11px)
$fontSize_share = rem(11px)


// line height
$lineHeight_default = 1.7
$lineHeight_title = 1.35


// letter spacing
$letterSpacing_default = 0.05em


// width
$width_base = 940px


// padding
$padding_base = 40px
$padding_tablet = 6%
$padding_smartphone = 4%
$padding_section = 120px
$padding_section_tablet = 60px
$padding_section_smartphone = 40px


// media query
$mq_pcLarge = only screen, min-width 1200px
$mq_pc = only screen, max-width 1199px
$mq_tablet = only screen, max-width 940px
$mq_smartphone = only screen, max-width 640px