/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$header_logo_name = 'header_logo';
$header_logo_x = 0px;
$header_logo_y = 0px;
$header_logo_offset_x = 0px;
$header_logo_offset_y = 0px;
$header_logo_width = 237px;
$header_logo_height = 43px;
$header_logo_total_width = 237px;
$header_logo_total_height = 65px;
$header_logo_image = '../images/sprite.png';
$header_logo = 0px 0px 0px 0px 237px 43px 237px 65px '../images/sprite.png' 'header_logo';
$icon_arrow_name = 'icon_arrow';
$icon_arrow_x = 0px;
$icon_arrow_y = 53px;
$icon_arrow_offset_x = 0px;
$icon_arrow_offset_y = -53px;
$icon_arrow_width = 22px;
$icon_arrow_height = 12px;
$icon_arrow_total_width = 237px;
$icon_arrow_total_height = 65px;
$icon_arrow_image = '../images/sprite.png';
$icon_arrow = 0px 53px 0px -53px 22px 12px 237px 65px '../images/sprite.png' 'icon_arrow';
$header_logo_2x_name = 'header_logo-2x';
$header_logo_2x_x = 0px;
$header_logo_2x_y = 0px;
$header_logo_2x_offset_x = 0px;
$header_logo_2x_offset_y = 0px;
$header_logo_2x_width = 474px;
$header_logo_2x_height = 86px;
$header_logo_2x_total_width = 474px;
$header_logo_2x_total_height = 130px;
$header_logo_2x_image = '../images/sprite-2x.png';
$header_logo_2x = 0px 0px 0px 0px 474px 86px 474px 130px '../images/sprite-2x.png' 'header_logo-2x';
$icon_arrow_2x_name = 'icon_arrow-2x';
$icon_arrow_2x_x = 0px;
$icon_arrow_2x_y = 106px;
$icon_arrow_2x_offset_x = 0px;
$icon_arrow_2x_offset_y = -106px;
$icon_arrow_2x_width = 44px;
$icon_arrow_2x_height = 24px;
$icon_arrow_2x_total_width = 474px;
$icon_arrow_2x_total_height = 130px;
$icon_arrow_2x_image = '../images/sprite-2x.png';
$icon_arrow_2x = 0px 106px 0px -106px 44px 24px 474px 130px '../images/sprite-2x.png' 'icon_arrow-2x';
$spritesheet_width = 237px;
$spritesheet_height = 65px;
$spritesheet_image = '../images/sprite.png';
$spritesheet_sprites = $header_logo $icon_arrow;
$spritesheet = 237px 65px '../images/sprite.png' $spritesheet_sprites;
$retina_spritesheet_width = 474px;
$retina_spritesheet_height = 130px;
$retina_spritesheet_image = '../images/sprite-2x.png';
$retina_spritesheet_sprites = $header_logo_2x $icon_arrow_2x;
$retina_spritesheet = 474px 130px '../images/sprite-2x.png' $retina_spritesheet_sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retinaSprite` and `retinaSprites`.
*/
$header_logo_group_name = 'header_logo';
$header_logo_group = 'header_logo' $header_logo $header_logo_2x;
$icon_arrow_group_name = 'icon_arrow';
$icon_arrow_group = 'icon_arrow' $icon_arrow $icon_arrow_2x;
$retina_groups = $header_logo_group $icon_arrow_group;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `retinaSprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon_home_group = 'icon-home' $icon_home $icon_home_2x;

.icon-home {
  retinaSprite($icon_home_group)
}
*/
spriteBackgroundSize($sprite) {
  background-size: $sprite[6] $sprite[7];
}

retinaSprite($retina_group) {
  $normal_sprite = $retina_group[1];
  $retina_sprite = $retina_group[2];
  sprite($normal_sprite)

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    spriteImage($retina_sprite)
    spriteBackgroundSize($normal_sprite)
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}

/*
The `retinaSprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in Stylus

retinaSprites($retina_groups);
*/
retinaSprites($retina_groups) {
  for $retina_group in $retina_groups {
    $sprite_name = $retina_group[0];
    .{$sprite_name} {
      retinaSprite($retina_group);
    }
  }
}
