/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$icon_arrow_backtop_name = 'icon_arrow_backtop';
$icon_arrow_backtop_x = 0px;
$icon_arrow_backtop_y = 99px;
$icon_arrow_backtop_offset_x = 0px;
$icon_arrow_backtop_offset_y = -99px;
$icon_arrow_backtop_width = 17px;
$icon_arrow_backtop_height = 10px;
$icon_arrow_backtop_total_width = 170px;
$icon_arrow_backtop_total_height = 130px;
$icon_arrow_backtop_image = '../images/sprite.png';
$icon_arrow_backtop = 0px 99px 0px -99px 17px 10px 170px 130px '../images/sprite.png' 'icon_arrow_backtop';
$icon_arrow_more_name = 'icon_arrow_more';
$icon_arrow_more_x = 94px;
$icon_arrow_more_y = 99px;
$icon_arrow_more_offset_x = -94px;
$icon_arrow_more_offset_y = -99px;
$icon_arrow_more_width = 6px;
$icon_arrow_more_height = 9px;
$icon_arrow_more_total_width = 170px;
$icon_arrow_more_total_height = 130px;
$icon_arrow_more_image = '../images/sprite.png';
$icon_arrow_more = 94px 99px -94px -99px 6px 9px 170px 130px '../images/sprite.png' 'icon_arrow_more';
$icon_footer_pixiv_name = 'icon_footer_pixiv';
$icon_footer_pixiv_x = 0px;
$icon_footer_pixiv_y = 119px;
$icon_footer_pixiv_offset_x = 0px;
$icon_footer_pixiv_offset_y = -119px;
$icon_footer_pixiv_width = 13px;
$icon_footer_pixiv_height = 11px;
$icon_footer_pixiv_total_width = 170px;
$icon_footer_pixiv_total_height = 130px;
$icon_footer_pixiv_image = '../images/sprite.png';
$icon_footer_pixiv = 0px 119px 0px -119px 13px 11px 170px 130px '../images/sprite.png' 'icon_footer_pixiv';
$icon_footer_twitter_name = 'icon_footer_twitter';
$icon_footer_twitter_x = 27px;
$icon_footer_twitter_y = 99px;
$icon_footer_twitter_offset_x = -27px;
$icon_footer_twitter_offset_y = -99px;
$icon_footer_twitter_width = 13px;
$icon_footer_twitter_height = 10px;
$icon_footer_twitter_total_width = 170px;
$icon_footer_twitter_total_height = 130px;
$icon_footer_twitter_image = '../images/sprite.png';
$icon_footer_twitter = 27px 99px -27px -99px 13px 10px 170px 130px '../images/sprite.png' 'icon_footer_twitter';
$icon_header_pixiv_name = 'icon_header_pixiv';
$icon_header_pixiv_x = 73px;
$icon_header_pixiv_y = 99px;
$icon_header_pixiv_offset_x = -73px;
$icon_header_pixiv_offset_y = -99px;
$icon_header_pixiv_width = 11px;
$icon_header_pixiv_height = 10px;
$icon_header_pixiv_total_width = 170px;
$icon_header_pixiv_total_height = 130px;
$icon_header_pixiv_image = '../images/sprite.png';
$icon_header_pixiv = 73px 99px -73px -99px 11px 10px 170px 130px '../images/sprite.png' 'icon_header_pixiv';
$icon_header_twitter_name = 'icon_header_twitter';
$icon_header_twitter_x = 50px;
$icon_header_twitter_y = 99px;
$icon_header_twitter_offset_x = -50px;
$icon_header_twitter_offset_y = -99px;
$icon_header_twitter_width = 13px;
$icon_header_twitter_height = 10px;
$icon_header_twitter_total_width = 170px;
$icon_header_twitter_total_height = 130px;
$icon_header_twitter_image = '../images/sprite.png';
$icon_header_twitter = 50px 99px -50px -99px 13px 10px 170px 130px '../images/sprite.png' 'icon_header_twitter';
$logo_name = 'logo';
$logo_x = 0px;
$logo_y = 50px;
$logo_offset_x = 0px;
$logo_offset_y = -50px;
$logo_width = 170px;
$logo_height = 39px;
$logo_total_width = 170px;
$logo_total_height = 130px;
$logo_image = '../images/sprite.png';
$logo = 0px 50px 0px -50px 170px 39px 170px 130px '../images/sprite.png' 'logo';
$logo_footer_name = 'logo_footer';
$logo_footer_x = 0px;
$logo_footer_y = 0px;
$logo_footer_offset_x = 0px;
$logo_footer_offset_y = 0px;
$logo_footer_width = 170px;
$logo_footer_height = 40px;
$logo_footer_total_width = 170px;
$logo_footer_total_height = 130px;
$logo_footer_image = '../images/sprite.png';
$logo_footer = 0px 0px 0px 0px 170px 40px 170px 130px '../images/sprite.png' 'logo_footer';
$icon_arrow_backtop_2x_name = 'icon_arrow_backtop-2x';
$icon_arrow_backtop_2x_x = 0px;
$icon_arrow_backtop_2x_y = 198px;
$icon_arrow_backtop_2x_offset_x = 0px;
$icon_arrow_backtop_2x_offset_y = -198px;
$icon_arrow_backtop_2x_width = 34px;
$icon_arrow_backtop_2x_height = 20px;
$icon_arrow_backtop_2x_total_width = 340px;
$icon_arrow_backtop_2x_total_height = 260px;
$icon_arrow_backtop_2x_image = '../images/sprite-2x.png';
$icon_arrow_backtop_2x = 0px 198px 0px -198px 34px 20px 340px 260px '../images/sprite-2x.png' 'icon_arrow_backtop-2x';
$icon_arrow_more_2x_name = 'icon_arrow_more-2x';
$icon_arrow_more_2x_x = 188px;
$icon_arrow_more_2x_y = 198px;
$icon_arrow_more_2x_offset_x = -188px;
$icon_arrow_more_2x_offset_y = -198px;
$icon_arrow_more_2x_width = 12px;
$icon_arrow_more_2x_height = 18px;
$icon_arrow_more_2x_total_width = 340px;
$icon_arrow_more_2x_total_height = 260px;
$icon_arrow_more_2x_image = '../images/sprite-2x.png';
$icon_arrow_more_2x = 188px 198px -188px -198px 12px 18px 340px 260px '../images/sprite-2x.png' 'icon_arrow_more-2x';
$icon_footer_pixiv_2x_name = 'icon_footer_pixiv-2x';
$icon_footer_pixiv_2x_x = 0px;
$icon_footer_pixiv_2x_y = 238px;
$icon_footer_pixiv_2x_offset_x = 0px;
$icon_footer_pixiv_2x_offset_y = -238px;
$icon_footer_pixiv_2x_width = 26px;
$icon_footer_pixiv_2x_height = 22px;
$icon_footer_pixiv_2x_total_width = 340px;
$icon_footer_pixiv_2x_total_height = 260px;
$icon_footer_pixiv_2x_image = '../images/sprite-2x.png';
$icon_footer_pixiv_2x = 0px 238px 0px -238px 26px 22px 340px 260px '../images/sprite-2x.png' 'icon_footer_pixiv-2x';
$icon_footer_twitter_2x_name = 'icon_footer_twitter-2x';
$icon_footer_twitter_2x_x = 54px;
$icon_footer_twitter_2x_y = 198px;
$icon_footer_twitter_2x_offset_x = -54px;
$icon_footer_twitter_2x_offset_y = -198px;
$icon_footer_twitter_2x_width = 26px;
$icon_footer_twitter_2x_height = 20px;
$icon_footer_twitter_2x_total_width = 340px;
$icon_footer_twitter_2x_total_height = 260px;
$icon_footer_twitter_2x_image = '../images/sprite-2x.png';
$icon_footer_twitter_2x = 54px 198px -54px -198px 26px 20px 340px 260px '../images/sprite-2x.png' 'icon_footer_twitter-2x';
$icon_header_pixiv_2x_name = 'icon_header_pixiv-2x';
$icon_header_pixiv_2x_x = 146px;
$icon_header_pixiv_2x_y = 198px;
$icon_header_pixiv_2x_offset_x = -146px;
$icon_header_pixiv_2x_offset_y = -198px;
$icon_header_pixiv_2x_width = 22px;
$icon_header_pixiv_2x_height = 20px;
$icon_header_pixiv_2x_total_width = 340px;
$icon_header_pixiv_2x_total_height = 260px;
$icon_header_pixiv_2x_image = '../images/sprite-2x.png';
$icon_header_pixiv_2x = 146px 198px -146px -198px 22px 20px 340px 260px '../images/sprite-2x.png' 'icon_header_pixiv-2x';
$icon_header_twitter_2x_name = 'icon_header_twitter-2x';
$icon_header_twitter_2x_x = 100px;
$icon_header_twitter_2x_y = 198px;
$icon_header_twitter_2x_offset_x = -100px;
$icon_header_twitter_2x_offset_y = -198px;
$icon_header_twitter_2x_width = 26px;
$icon_header_twitter_2x_height = 20px;
$icon_header_twitter_2x_total_width = 340px;
$icon_header_twitter_2x_total_height = 260px;
$icon_header_twitter_2x_image = '../images/sprite-2x.png';
$icon_header_twitter_2x = 100px 198px -100px -198px 26px 20px 340px 260px '../images/sprite-2x.png' 'icon_header_twitter-2x';
$logo_2x_name = 'logo-2x';
$logo_2x_x = 0px;
$logo_2x_y = 100px;
$logo_2x_offset_x = 0px;
$logo_2x_offset_y = -100px;
$logo_2x_width = 340px;
$logo_2x_height = 78px;
$logo_2x_total_width = 340px;
$logo_2x_total_height = 260px;
$logo_2x_image = '../images/sprite-2x.png';
$logo_2x = 0px 100px 0px -100px 340px 78px 340px 260px '../images/sprite-2x.png' 'logo-2x';
$logo_footer_2x_name = 'logo_footer-2x';
$logo_footer_2x_x = 0px;
$logo_footer_2x_y = 0px;
$logo_footer_2x_offset_x = 0px;
$logo_footer_2x_offset_y = 0px;
$logo_footer_2x_width = 340px;
$logo_footer_2x_height = 80px;
$logo_footer_2x_total_width = 340px;
$logo_footer_2x_total_height = 260px;
$logo_footer_2x_image = '../images/sprite-2x.png';
$logo_footer_2x = 0px 0px 0px 0px 340px 80px 340px 260px '../images/sprite-2x.png' 'logo_footer-2x';
$spritesheet_width = 170px;
$spritesheet_height = 130px;
$spritesheet_image = '../images/sprite.png';
$spritesheet_sprites = $icon_arrow_backtop $icon_arrow_more $icon_footer_pixiv $icon_footer_twitter $icon_header_pixiv $icon_header_twitter $logo $logo_footer;
$spritesheet = 170px 130px '../images/sprite.png' $spritesheet_sprites;
$retina_spritesheet_width = 340px;
$retina_spritesheet_height = 260px;
$retina_spritesheet_image = '../images/sprite-2x.png';
$retina_spritesheet_sprites = $icon_arrow_backtop_2x $icon_arrow_more_2x $icon_footer_pixiv_2x $icon_footer_twitter_2x $icon_header_pixiv_2x $icon_header_twitter_2x $logo_2x $logo_footer_2x;
$retina_spritesheet = 340px 260px '../images/sprite-2x.png' $retina_spritesheet_sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retinaSprite` and `retinaSprites`.
*/
$icon_arrow_backtop_group_name = 'icon_arrow_backtop';
$icon_arrow_backtop_group = 'icon_arrow_backtop' $icon_arrow_backtop $icon_arrow_backtop_2x;
$icon_arrow_more_group_name = 'icon_arrow_more';
$icon_arrow_more_group = 'icon_arrow_more' $icon_arrow_more $icon_arrow_more_2x;
$icon_footer_pixiv_group_name = 'icon_footer_pixiv';
$icon_footer_pixiv_group = 'icon_footer_pixiv' $icon_footer_pixiv $icon_footer_pixiv_2x;
$icon_footer_twitter_group_name = 'icon_footer_twitter';
$icon_footer_twitter_group = 'icon_footer_twitter' $icon_footer_twitter $icon_footer_twitter_2x;
$icon_header_pixiv_group_name = 'icon_header_pixiv';
$icon_header_pixiv_group = 'icon_header_pixiv' $icon_header_pixiv $icon_header_pixiv_2x;
$icon_header_twitter_group_name = 'icon_header_twitter';
$icon_header_twitter_group = 'icon_header_twitter' $icon_header_twitter $icon_header_twitter_2x;
$logo_group_name = 'logo';
$logo_group = 'logo' $logo $logo_2x;
$logo_footer_group_name = 'logo_footer';
$logo_footer_group = 'logo_footer' $logo_footer $logo_footer_2x;
$retina_groups = $icon_arrow_backtop_group $icon_arrow_more_group $icon_footer_pixiv_group $icon_footer_twitter_group $icon_header_pixiv_group $icon_header_twitter_group $logo_group $logo_footer_group;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `retinaSprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon_home_group = 'icon-home' $icon_home $icon_home_2x;

.icon-home {
  retinaSprite($icon_home_group)
}
*/
spriteBackgroundSize($sprite) {
  background-size: $sprite[6] $sprite[7];
}

retinaSprite($retina_group) {
  $normal_sprite = $retina_group[1];
  $retina_sprite = $retina_group[2];
  sprite($normal_sprite)

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    spriteImage($retina_sprite)
    spriteBackgroundSize($normal_sprite)
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}

/*
The `retinaSprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in Stylus

retinaSprites($retina_groups);
*/
retinaSprites($retina_groups) {
  for $retina_group in $retina_groups {
    $sprite_name = $retina_group[0];
    .{$sprite_name} {
      retinaSprite($retina_group);
    }
  }
}
