@import 'kouto-swiss'

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700')

body
  font-family Montserrat, 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, NotoSansJapanese, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif
  font-kerning normal
  background-color #000
  color #fff
  margin 0
  padding 0
  word-wrap break-word
  overflow-wrap break-word

  +retina-query(only screen, 2)
    -webkit-font-smoothing antialiased


.header
  position fixed
  top 0
  left 0
  z-index 10

.eyecatch
  position fixed
  top 0
  left 0
  width 100vw
  height 100vh
  z-index -1

  &:after
    content ''
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-color rgba(#000, 0.6);

  &__image
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    background url('/assets/images/eyecatch.jpg') no-repeat
    background-size cover
    transition: all 1000ms easing('in-out-quart')

    &--blur
      transform scale(0.8)
      transform-origin 50% 50%
      filter blur(20px)
      opacity 0.5


.top
  &__title
    margin 0
    position absolute
    top 50%
    left 0
    width 100%
    transform translateY(-50%)
    line-height 0
    font-size 110px
    text-align center

    span
      display block
      opacity 0
      transform scale(1.1)
      transition: all 600ms easing('in-out-quart')

    &--active
      span
        opacity 1
        transform scale(1)

  &__button
    position absolute
    bottom 50px
    left 50%
    transform translateX(-50%)


.archive
  &__title
    line-height 1
    margin 0
    position absolute
    top 50%
    left 0
    width 100%
    text-align center
    font-size 110px
    transform translateY(-50%)

    span
      display block
      opacity 0
      transform scale(1.1)
      transition: all 600ms easing('in-out-quart')

    &--active
      span
        opacity 1
        transform scale(1)

  &__content
    position absolute
    top 50%
    left 0
    width 100%
    margin-top 150+(110/2)px


.postList
  opacity 0
  max-width 600px
  list-style-type none
  margin 0 auto
  padding 0
  transition: all 600ms easing('out-quint')
  transform translateY(100px)

  &--visible
    opacity 1
    transform translateY(0)

  &__item
    margin-top 100px
    position relative
    overflow hidden
    background-color #000

    &:first-child
      margin-top 0

    &Link
      display block
      width 100%
      height 100%

    &Image
      width 100%
      height auto
      transition: all 600ms easing('in-out-quart')

    &Title
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      margin 0
      line-height 1
      font-size 70px

    &:hover
      .postList__item
        &Image
          transform scale(1.05)
          transform-origin 50% 50%
          opacity 0.3