.archive__title
  margin 0
  position absolute
  width 100%
  height 100%
  top 0
  left 0
  overflow hidden

  span
    display block
    line-height 0
    position absolute
    top 42%
    left 0
    width 100%
    text-align center
    font-size $fontSize_archiveTitle
    opacity 0
    transform translateY(-50%)
    transition: all 700ms easing($easing)
    letter-spacing 0.5em
    text-indent 0.5em
    filter blur(20px)

    +media-query($mq_tablet)
      font-size $fontSize_archiveTitle * 0.8

    +media-query($mq_spLarge)
      font-size $fontSize_archiveTitle * 0.6

    +media-query($mq_sp)
      font-size $fontSize_archiveTitle * 0.5

  &.is--visible
    span
      opacity 1
      // transform scale(1) translateY(-50%)
      letter-spacing 0.07em
      text-indent 0.07em
      filter blur(0px)

.archive__content
  position relative
  top 50vh
  left 0
  width 100%
  transform translateY(150+(110/2)px)

  +media-query($mq_spLarge)
    transform translateY(150+(110*0.6/2)px)

  +media-query($mq_sp)
    transform translateY(150+(110*0.5/2)px)