.archive
  &__title
    line-height 1
    margin 0
    position absolute
    top 50%
    left 0
    width 100%
    text-align center
    font-size 110px
    transform translateY(-50%)

    span
      display block
      opacity 0
      transform scale(1.1)
      transition: all 600ms easing('in-out-quart')
      letter-spacing 0.2em

    &--active
      span
        opacity 1
        transform scale(1)
        letter-spacing 0.1em

  &__content
    position absolute
    top 50%
    left 0
    width 100%
    margin-top 150+(110/2)px