.index__title
  hide-text()
  margin 0
  position absolute
  top 50%
  left 50%
  background url('/assets/images/index_logo.png') no-repeat
  background-size (1140/2)px (276/2)px
  width (1140/2)px
  height (276/2)px
  opacity 0
  transform translate(-50%, -50%)
  transition: opacity 600ms easing('in-out-quart')
  transform-origin 50% 50%

  &.is--visible
    opacity 1

.index__button
  position absolute
  bottom 50px
  left 50%
  opacity 0
  transform translate(-50%, 50px)
  transition: all 600ms easing('in-out-quart')

  &.is--visible
    opacity 1
    transform translate(-50%, 0)