.index
  &__title
    margin 0
    position absolute
    top 50%
    left 0
    width 100%
    transform translateY(-50%)
    line-height 0
    font-size 110px
    text-align center

    span
      display block
      opacity 0
      transform scale(1.1)
      transition: all 600ms easing('in-out-quart')

    &--active
      span
        opacity 1
        transform scale(1)

  &__button
    position absolute
    bottom 50px
    left 50%
    transform translateX(-50%)