.index__title
  hide-text()
  margin 0
  position absolute
  top 50%
  left 50%
  background url('/assets/images/index_logo.png') no-repeat
  background-size (1140/2)px (276/2)px
  width (1140/2)px
  height (276/2)px
  opacity 0
  transform translate(-50%, -50%)
  transition: opacity 600ms easing('in-out-quart')
  transform-origin 50% 50%

  &.is--visible
    opacity 1

  +media-query($mq_tablet)
    width 412px
    height 100px
    background-size 412px 100px

  +media-query($mq_spLarge)
    width 300px
    height 73px
    background-size 300px 73px

.index__button
  position absolute
  bottom 80px
  left 50%
  opacity 0
  transform translate(-50%, 50px)
  transition: all 600ms easing('in-out-quart')
  filter blur(20px)

  &.is--visible
    opacity 1
    transform translate(-50%, 0)
    filter blur(0px)

  +media-query($mq_tablet)
    bottom 60px