@import '../_config'
@import '../_sprite'


.articleList
  clearfix()


.articleList__item
  position relative
  margin-top 90px

  &:first-child
    margin-top 0

  &:nth-child(odd)
    float left

    .articleList__itemInfo
      left 500 - 20px

  &:nth-child(even)
    float right

    .articleList__itemInfo
      right 500 - 20px


.articleList__itemImage
  width 500px
  display block
  position relative

  img
    width 100%
    height auto
    vertical-align top


.articleList__itemNotes
  position absolute
  z-index 100
  bottom 20px
  padding 5px 10px
  font-size $fontSize_xsmall

.articleList__item--text
  .articleList__itemNotes
    background-color $color_bg_default
    color $color_text_sub

.articleList__item--photo
  .articleList__itemNotes
    background-color rgba($color_bg_inverse, 0.4)
    color $color_text_inverse

.articleList__item
  &:nth-child(odd)
    .articleList__itemNotes
      left 20px

  &:nth-child(even)
    .articleList__itemNotes
      right 20px


.articleList__itemInfo
  position absolute
  bottom 40px


.articleList__itemInfoContent
  background-color $color_bg_inverse
  width 300px
  padding 30px 40px


.articleList__itemInfoDate
  font-size $fontSize_large


.articleList__itemInfoTag
  margin 5px 0 0 0
  padding 0
  list-style-type none
  font-size $fontSize_small
  color $color_text_sub


.articleList__itemInfoTagItem
  display inline
  margin-left 5px

  &:after
    content ','

  &:first-child
    margin-left 0

  &:last-child
    &:after
      content ''


.articleList__itemInfoMore
  clearfix()

  a
    display block
    float right
    width 180px
    position relative
    background-color $color_text_link
    color $color_text_inverse
    padding 20px 30px

    &:after
      content ''
      retinaSprite($icon_arrow_more_group)
      position absolute
      right 20px
      top 50%
      transform translateY(-50%)


.articleList__itemContent
  background-color $color_bg_inverse
  position relative
  padding 30px 40px 40px
  width 500px
  height 705px
  overflow hidden

  &:after
    content ''
    position absolute
    left 0
    bottom 0
    width 100%
    height 100px
    background-image: linear-gradient( transparent 0%, rgba($color_bg_inverse,0.7) 45%, rgba($color_bg_inverse,0.95) 80%, rgba($color_bg_inverse,1) 100% )


.articleList__itemTitle
  margin 0

  a
    font-size $fontSize_large
    color $color_text_default

.articleList__itemBody
  margin-top 25px
  font-size $fontSize_small

  img
    max-width 100%
    height auto
    vertical-align top

  > ul
    padding-left 1.5em