@import '../_config'


.button
  display inline-block
  text-align center
  width 220px
  height 60px
  line-height 58px
  color $color_text_link
  border 2px solid $color_border_link
  cursor pointer

  &:hover
    opacity 1