.cloneImage
  background-color $bgColor_default
  position fixed
  visibility hidden
  // opacity 0
  pointer-events none
  left 50%
  transform translateX(-50%)
  z-index 2
  transition: all 1000ms easing('out-quint')

  .image
    width 100%
    height 100%
    background-size cover
    background-position 50% 0
    background-repeat no-repeat
    opacity 0.5

  &.is--zoomIn
    // opacity 1 !important
    visibility visible !important
    top 0 !important
    width 100% !important
    height 100% !important