.entryList
  opacity 0
  max-width 600px
  list-style-type none
  margin 0 auto
  padding 0
  transition: all 600ms easing('out-quint')
  transform translateY(100px)

  &.is--visible
    opacity 1
    transform translateY(0)

.entryList__item
  margin-top 100px