.entryItem
  &--news
    .link
      border-top 1px solid $borderColor_default
      display table
      width 100%
      height 100%
      padding 60px
      transition: all 700ms ease

    .is-pc &
      &:hover
        .link
          text-decoration none
          background-color $bgColor_inverse
          color $textColor_inverse

    .info,
    .title
      display table-cell
      vertical-align top

    .info
      width 200px
      font-family $fontFamily_title
      padding-top 3px

      .date,
      .notes
        display block
        $fontSize_info

    .title
      margin 0
      font-size $fontSize_entryBodyTitle

    +media-query($mq_tablet)
      .link
        padding 40px

      .info
        width 150px

      .title
        font-size $fontSize_entryBodyTitle * 0.9

    +media-query($mq_spLarge)
      .link
        padding 30px

      .info
        width 100px
        padding-top 0

      .title
        font-size $fontSize_entryBodyTitle * 0.7

    +media-query($mq_sp)
      .link
        display block
        padding 20px 30px 25px

      .info,
      .title
        display block
        width 100%

      .info
        .date,
        .notes
          display inline-block

        .notes
          margin-left 10px

      .title
        margin-top 10px


  &--photo
    max-width 700px
    margin 0 auto
    position relative
    overflow hidden

    &:first-child
      margin-top 0

    .is-pc &
      &:hover
        .image
          // transform scale(1.05)
          transform-origin 50% 50%
          opacity 0.75

    .link
      display block
      width 100%
      height 100%
      line-height 0
      background-color #000

    .image
      width 100%
      height auto
      transition: all 700ms ease
      z-index 1

    .title
      font-size $fontSize_default
      margin 0
      margin-top 10px

    .notes
      font-size $fontSize_info
      margin-top 3px

    +media-query($mq_tablet)
      max-width 500px

    +media-query($mq_spLarge)
      max-width 320px

    +media-query($mq_sp)
      max-width 260px