.header
  clearfix()
  overflow hidden

  &:after
    content ''
    position absolute
    top 98px
    left 50%
    width 40px
    height 3px
    background-color $color_text_default
    transform translateX(-50%)


.header__title
  float left
  margin 80px 0 0 $margin_page
  position relative
  width 170px
  height 39px
  overflow hidden

.header__titleLink,
.header__titleLoader
  display block
  position absolute
  top 0
  left 0
  width 100%
  height 100%

  svg
    width 100%
    height 100%
    position relative

.header__titleLink
  svg
    fill $color_text_default

.header__titleLoader
  opacity 0
  pointer-events none

  svg
    fill $color_bg_link
    z-index 1

.header__titleLoaderBg
  width 100%
  height 100%
  position absolute
  top 0
  left 0

  &:after
    content ''
    position absolute
    top 0
    left 0
    width 1000%
    height 100%
    background-image linear-gradient( 70deg, #a7e0fd, #ff95d7, #93ff8c, #ffb2b4, #a7e0fd, #ff95d7, #93ff8c, #ffb2b4, #a7e0fd, #ff95d7 )
    animation-name rainbow
    animation-duration 10s
    animation-timing-function cubic-bezier(0.25, 0.25, 0.75, 0.75)
    animation-iteration-count infinite
    animation-direction alternate
    animation-fill-mode both

@keyframes rainbow
  0%
    left 0
  100%
    left -900%


.header__navi
  float right
  position relative
  clearfix()
  margin-right $margin_page


.header__link
  float left
  list-style-type none
  padding 0
  margin 90px 0 0 0
  clearfix()

.header__linkItem
  float left
  margin-left 40px
  font-weight bold

  a:hover
    color transparent
    text-shadow: 0 0 3px $color_text_link


.header_sns
  float left
  list-style-type none
  padding 0
  margin 85px 0 0 40px
  clearfix()

.header__snsItem
  float left

  a
    display block
    width 30px
    height 30px
    border 1px solid $color_border_default
    position relative
    line-height 0

  svg
    position relative
    top 50%
    left 50%
    transform translate(-50%, -50%)

  &--twitter
    svg
      width 13px
      height 10px
      fill $color_text_default

  &--pixiv
    margin-left -1px

    svg
      width 11px
      height 10px
      fill $color_text_default