@import '../_config'
@import '../_sprite'


.header
  clearfix()

  &:after
    content ''
    position absolute
    top 98px
    left 50%
    width 40px
    height 3px
    background-color $color_text_default
    transform translateX(-50%)


.header__bg
  position absolute
  top 0
  left 0
  width 50%
  height 600px
  background-color $color_bg_link


.header__title
  float left
  position relative
  margin 80px 0 0 $margin_page

  a
    display block
    hide-text()
    mask url('../images/logo.svg')
    width 170px
    height 39px
    background-color $color_text_default


.header__navi
  float right
  position relative
  clearfix()
  margin-right $margin_page


.header__link
  float left
  list-style-type none
  padding 0
  margin 90px 0 0 0
  clearfix()

.header__linkItem
  float left
  margin-left 40px


.header_sns
  float left
  list-style-type none
  padding 0
  margin 85px 0 0 40px
  clearfix()

.header__snsItem
  float left

  a
    display block
    hide-text()
    width 30px
    height 30px
    border 1px solid $color_border_default
    position relative

    &:after
      content ''
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      background-color $color_text_default

    &:hover:after
      background-color $color_text_link

  &--twitter
    a:after
      mask url('../images/icon_twitter.svg')
      width 13px
      height 10px

  &--pixiv
    margin-left -1px

    a:after
      mask url('../images/icon_pixiv.svg')
      width 11px
      height 10px