.navi__toggle
  width 36px
  height 36px
  position relative

  // open
  .open
    width 36px
    height 20px
    position absolute
    z-index 30
    cursor pointer
    transition: all 300ms ease
    visibility hidden

    &:hover
      opacity 0.7

    &:before,
    &:after
      content ''
      position absolute
      width 100%
      height 3px
      background-color $textColor_default
      left 0
      opacity 0
      transition: all 600ms easing('in-out-quart')

    &:before
      top 0
      transform translateX(30px)

    &:after
      bottom 0
      transform translateX(20px)

    &.is--visible
      visibility visible

      &:before,
      &:after
        opacity 1
        transform translateX(0)


  // close
  .close
    width 36px
    height 28px
    position absolute
    top -4px
    z-index 30
    cursor pointer
    transition: all 300ms ease
    visibility hidden

    &:hover
      opacity 0.7

    .inner
      width 100%
      height 100%
      transition: all 600ms easing('in-out-quart')
      opacity 0
      transform translateX(-40px) rotate(45deg)
      transform-origin 50% 50%

      &:before,
      &:after
        content ''
        position absolute
        width 100%
        height 3px
        background-color $textColor_default
        left 0
        top 13px

      &:before
        transform rotate(45deg)

      &:after
        transform rotate(-45deg)

    &.is--visible
      visibility visible

      .inner
        opacity 1
        transform translateX(0) rotate(0)



.navi__list
  transition: all 1000ms ease
  opacity 0
  visibility hidden
  position fixed
  z-index 20
  top 0
  left 0
  width 100%
  height 100%
  background rgba($bgColor_default, 0.95)
  margin 0
  padding 0

  &.is--visible
    opacity 1
    visibility visible

  ul
    list-style-type none
    margin 0
    padding 0
    position absolute
    top 50%
    width 100%
    transform translateY(-50%)
    text-align center

  li
    margin-top 30px
    font-family $fontFamily_title
    font-size $fontSize_naviItem
    font-weight bold
    letter-spacing 0.2em
    text-indent 0.2em

    &:first-child
      margin-top 0

    a
      text-decoration none

      &:hover
        letter-spacing 0.5em
        text-indent 0.5em