@import '../_config'


.photoList
  margin 0 auto

  +media-query($mq_pcLarge)
    max-width $width_default + 30px

  +media-query($mq_pc)
    max-width 80%

  +media-query($mq_tablet)
    max-width 90%

  +media-query($mq_smartphone)
    max-width 96%


.photoList__items
  clearfix()
  gs('fluid', 3, 30px)


.photoList__item
  vertical-align top
  cursor pointer

  +media-query($mq_pcLarge)
    col(1)

  +media-query($mq_pc)
    col(1)

  +media-query($mq_tablet)
    col(1.5)

  +media-query($mq_smartphone)
    col(3)

  a
    display block
    color inherit

    &:hover
      opacity inherit
      color inherit


.photoList__itemInner
  ratio-box(1/1.414)
  position relative
  margin-bottom 30px
  background-color $color_bg_link
  background-repeat no-repeat
  background-size cover
  background-position 50% 50%


.photoList__itemOverlay
  opacity 0
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba($color_bg_link, 0.9)


.photoList__itemOverlayInner
  position relative
  text-align center
  top 50%
  padding 10px
  transform translateY(-50%)


.photoList__itemDate
  font-size $fontSize_large
  margin 0 0 15px 0


.photoList__itemTag
  list-style-type none
  margin 0
  padding 0
  font-size $fontSize_small

  li
    display inline

    &:after
      content ','
      margin-right 5px

  li:last-child
    &:after
      content ''
      margin 0


.photoList__itemNotes
  display inline-block
  font-size $fontSize_small
  padding 5px 8px
  border 1px solid $color_border_default
  margin-top 40px


.photoList__more
  margin-top 50px
  text-align center

  +media-query($mq_smartphone)
    margin-top 30px


.photoList__itemDate,
.photoList__itemTag,
.photoList__itemNotes
  opacity 0
  position relative
  top 20px