doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title Dancing Girl.
    script(src='./assets/javascripts/libs/react-with-addons.min.js', inline)
  body
  script(src='./assets/javascripts/bundle.js', inline)